<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zhang.nong">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name=".doctor.httpXutils.MyApplication"
		android:allowBackup="true"
		android:icon="@mipmap/doctor_title"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".doctor.activity.LoginActivity"/>
		<activity android:name=".GoodActivity"/>
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".doctor.activity.ForumReplyActivity"/>
		<activity
			android:name=".doctor.activity.ForumnewteiActivity"
			android:windowSoftInputMode="adjustResize">
		</activity>
		<activity android:name=".doctor.guide.GuideActivity"/>
		<activity android:name=".doctor.guide.SplishActivity"/>
		<activity android:name=".doctor.activity.ActivityNews">
		</activity>
		<activity android:name=".doctor.activity.DemandManActivity">
		</activity>
		<activity android:name=".doctor.httpXutils.HttpXtulsActivity">
		</activity>
		<activity android:name=".doctor.activity.Home_agricultural_book_Activity"/>
		<activity android:name=".doctor.activity.Home_agricultural_machinery_Activity"/>
		<activity android:name=".doctor.activity.Home_day_know_Activity"/>
		<activity android:name=".doctor.activity.Home_agricultural_tool_product_Activity"/>
		<activity android:name=".doctor.activity.Home_agricultural_weather_Activity"/>
		<activity android:name=".doctor.activity.Home_professor_Activity"/>
		<activity android:name=".doctor.activity.Nearby_pro_advisory_Activity"/>

		<service
			android:name=".doctor.MyService.ReqService"
			android:enabled="true"
			android:exported="true">
		</service>

		<activity android:name=".doctor.activity.Agricultural_Machinery_More_Activity">
		</activity>
		<activity android:name=".doctor.activity.Agricultural_Machinery_Publish_Activity">
		</activity>
	</application>

</manifest>